<p>items count: <span ng-bind='items.length'></span></p>

<p><a href="#/items">back</a></p>
<p>item: {{ item }}</p>
<p>
  <button ng-show="notFirst()" ng-click="prev()">prev</button>
  <button ng-show="notLast()" ng-click="next()">next</button>
</p>
