<p>items count: <span ng-bind='items.length'></span></p>

<button ng-click="add()">add</button>
<input type="search" ng-model="terms" ng-change="setTerms()" placeholder="search terms">
<ul>
  <li ng-repeat="item in items"><a ng-href="#/items/{{ item }}">{{ item }}</a></li>
</ul>

